body{
    background-color:cyan;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#django{
    width: 50%;
    height: 50%;
}

#about{
    width: 50%;
    height: 50%;
}

#contact{
    width: 50%;
    height: 50%;
}

